
@Html.Action("Index", "FileProvider")

<input type="button" value="Execute" id="exe"/>

@*@Html.ActionLink("Reload", "Reload", "Home")*@


<div class="cfix"></div>
<div id="DataContainer">
    
    @Html.Action("Index", "DataDelivery")

</div>