
@Component.Invoke("Configuration")

<input type="button" value="Execute" id="exe" />

@*@Html.ActionLink("Reload", "Reload", "Home")*@


<div class="cfix"></div>
<div id="DataContainer">

    @Component.Invoke("DataDelivery")

    @*@Html.Action("Index", "DataDelivery")*@

</div>