
@using (Html.BeginForm("Configuration", "Home", FormMethod.Post, new {@class = "context"}))
{
    <div class="loadHere">
        @await Component.InvokeAsync("Configuration")
    </div>
    <input type="submit" value="Submit"/>
}
<hr />
<div class="cfix"></div>
<div id="DataContainer" data-url="@Url.Action("DataDelivery", "Home")">
    
    @await Component.InvokeAsync("DataDelivery")
    
</div>
