
@using (Html.BeginForm("Configuration", "Home",null, FormMethod.Post, false,  new {@class = "context"}))
{
    <div class="loadHere">
        @Component.InvokeAsync("Configuration").GetAwaiter().GetResult()
    </div>
    <input type="submit" value="Submit"/>
}
@Html.ActionLink("Reset Session", "ResetSession", "Home")
<hr />
<div class="cfix"></div>
<div id="DataContainer" data-url="@Url.Action("DataDelivery", "Home")">
    
    @Component.InvokeAsync("DataDelivery").GetAwaiter().GetResult()
    
</div>
