.lightGray 
{
      background-color : #EBEBEB;    
}

.gray
{
    background-color : #9d9d9d;    
}

.darkGray 
{
   background-color : #696969;
}

.red 
{
    background-color : #E35057;
}