@using DataStructure.Tree
@using FLUX.DomainObjects
@model TreeItem<MultiLayerDataContainer>

@foreach (var cd in Model.Children)
{
    
    <div>
        <div class="ContentWrapper CD">
            <h2 class="float-left Album">CD</h2>
            @Html.DisplayFor(c => cd.Value, new { key = "CD" })
        </div>
        <div class="float-left">

            @foreach (var song in cd.Children)
            {
                @Html.DisplayFor(c => song.Value, new { key = "TrackNr" })
                @Html.DisplayFor(c => song.Value, new { key = "Title" })
                <div class="clear-fix"></div>
            }
        </div>
    </div>
    <div class="clear-fix"></div>
}