body {
    width: 942px;
}

.dropHere {
    width:300px;
    height:300px;
    background-color:brown;
}

.container {
    border: 2px solid red;
}

.floatingContainer {
    position: absolute;
    background: white;
}

.container.Album {
    width: 68%;
    float: right;
}

.container.CD {
    width: 17%;
    margin: 20px 0;
}

.container.Songs {
    width: 80%;
    float: right;    
    margin: 20px 0;    
}

.SongTable {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
    width:100%;
}

.SongTable td {
    border-bottom: 1px solid #000; 
}

.CdSong {
    border-top: 1px solid blue; 
}

col.originTR {
    width:35%;
}

col.track {
    width:8%;
}

col.title {
    width:57%;
}


span {
    font-family: Arial;
    font-size: 14px;
}

.fullWidth {
    width:100%;
}

.inValid{
    background:rgba( 233, 30, 86, 0.36)
}

.ArtistSize {
    width: 29%;
    float: none;
}

.spaceLeft {
    margin-left: 40px;
}

.theScrollContainer {
    height: 897px;    
    overflow-y: auto;
}

h3 {
    font-size: 1.5em;
    display: block;
    float: left;
    margin: 5px;
}

div {
    float: left;
}

.origin {
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
    float: none;
}

.rightBlock {
    float: right;
    margin: 2px 5px;
}


.cfix {
    content: "";
    clear: both;
    float: none;
}

.CD input {
    width:34px;
}