body {
    width: 942px;
}

.container {
    border: 2px solid red;
    text-align: center;
}

/*.container.Artist {
    position: absolute;
    background: white;    
}*/

.floatingContainer {
    position: absolute;
    background: white;
}

.container.Album {
    width: 68%;
    float: right;
}

.container.CD {
    width: 17%;
    margin: 20px 0;
}

.container.Songs {
    width: 80%;
    float: right;
    
    margin: 20px 0;
    
}

.SongTable {
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;
    width:100%;
}

.SongTable td {
    border-bottom: 1px solid #000; 
}

.CdSong {
    border-top: 1px solid blue; 
}

col.originTR {
    width:35%;
}

col.track {
    width:8%;
}

col.title {
    width:57%;
}


.spanLook {
    background:rgba(0,0,0,0);
    border:none;
}

.inValid{
    background:rgba( 233, 30, 86, 0.36)
}


img.empty {
    background-color:aqua;
    height: 14px;
    padding-bottom: 4px;
    width:250px;
}

.ArtistSize {
    width: 29%;
    float: none;
}

.spaceLeft {
    margin-left: 40px;
}

.theScrollContainer {
    height: 897px;
    overflow-y: scroll;
}

h3 {
    font-size: 1.5em;
    display: block;
    float: left;
    margin: 5px;
}

div {
    float: left;
}

.origin {
    margin: 5px 0;
    text-align: center;
    font-weight: bold;
    float: none;
}

.rightBlock {
    float: right;
    margin: 2px 5px;
}

/*.rightBlock span {
    border-width: 2px;
    border-style: solid;
}*/

.layer0 {
    border-color: green;
}

.layer1 {
    border-color: hotpink;
}

.cfix {
    content: "";
    clear: both;
    float: none;
}



/*h2,h3 {
    display: block;
    font-size: 1.25em;
    float:left;
}

div
{
    float:left;
}



.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.TopHeadlineContainer {
    margin-left: 50px;
    padding-bottom: 50px;
}

.ContentWrapper {
    padding: 10px;
}

.ContentWrapper.Artist {    
    float: left;
}

.ContentWrapper.Album {
    width: 70%; 
    float:left;
    margin-top:5px;     
}


.ContentWrapper.CD {
    width: 17%;    
    float: left;
}

.ContentWrapper.Songs {
    border-left: solid blue thin;
    float: left;
}

.ContentContainer {
    margin-left: 50px;
}

.ContentContainer>div {
    border-style: solid;
    border-width: 2px;
    padding: 1px 10px;
    margin-top: 1px;
}

.origin {
    border-color :black;
    margin: 5px;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
}

.layer0 {
    border-color: red;
}

.layer1 {
    border-color: blue;
}*/