<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--<sectionGroup name="ExtractionLayer" type="ExtractionLayerProcessor.Config.ExtractionLayerConfig,ExtractionLayerProcessor,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <section name="FileLayer" type="FileStructureDataExtraction.Config.FileLayerConfig, FileStructureDataExtraction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="TagLayer" type="TagDataExtraction.Config.TagLayerConfig, TagDataExtraction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </sectionGroup>-->
  <configSections>
    <section name="ExtractionLayer" type="ExtractionLayerProcessor.Config.ExtractionLayerConfig,ExtractionLayerProcessor,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <ExtractionLayer ASync="true">
    <LayerCollection>
      <Layer Name="File" active="TrUe"
             ExtractorType="FileStructureDataExtraction.FileStructureDataExtractionLayer,FileStructureDataExtraction,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >
        <LayerConfiguration>
          <WhiteList Items="the,a,you,die,an" />
          <INet Regex=""/>
          <BlackList RepairCurses="true" Items="ftyh,promo,cdm" />
        </LayerConfiguration>
      </Layer>
      <Layer Name="Tag" 
           ExtractorType="TagDataExtraction.TagDataExtractionLayer,TagDataExtraction,Version=1.0.0.0, Culture=neutral,PublicKeyToken=null">
        <LayerConfiguration>
          <IgnorePrivateData>true</IgnorePrivateData>
        </LayerConfiguration>
      </Layer>
      <Layer Name="Blub" active="FaLsE"
            ExtractorType="FileStructureDataExtraction.FileStructureDataExtractionLayer,FileStructureDataExtraction,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >
      </Layer>
    </LayerCollection>
  </ExtractionLayer>
</configuration>