<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <sectionGroup name="ExtractionLayer" type="ExtractionLayerProcessor.Config.ExtractionLayerConfig,ExtractionLayerProcessor,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
    <section name="FileLayer" type="FileStructureDataExtraction.Config.FileLayerConfig, FileStructureDataExtraction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="TagLayer" type="TagDataExtraction.Config.TagLayerConfig, TagDataExtraction, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </sectionGroup>

  <ExtractionLayer ASync="false">
    <Layer active="true" 
           ExtractorType="TagDataExtraction.TagDataExtractionLayer,TagDataExtraction,Version=1.0.0.0, Culture=neutral,PublicKeyToken=null">
      <WhiteList Items="the,a,you,die,an" />
      <!--<INet Regex=""/>-->
      <BlackList RepairCurses="true" Items="ftyh,promo,cdm" />
    </Layer>
    <Layer active="true"
           ExtratorType="FileStructureDataExtraction.FileStructureDataExtractionLayer,FileStructureDataExtraction,Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >

      <!--<IgnorePrivateData>true</IgnorePrivateData>-->
    </Layer>
  </ExtractionLayer>
</configuration>