<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="~/css/Flux.css?foo=@DateTime.Now.Ticks" />

    <title dir="ltr">Der Flux ordnet deine MP3 s</title>
</head>
<body>
    <div id="Notifications" style="max-height:100px;overflow-y:scroll"></div>


@RenderBody()
    
<div class="clear-fix"></div>
<hr/>

<div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/Notifications.js" asp-append-version="true"></script>

        <script src="~/js/Configuration.js" asp-append-version="true"></script>
        <script src="~/js/DataDelivery.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</div>

</body>
</html>



