@model FLUX.DomainObjects.ConfigurationFormModel

@using(Html.BeginForm("Index", "Configuration", FormMethod.Post, new { @class = "context"}))
{
    <div class="loadHere">
        @Html.EditorFor(c => c.VirtualFileProvider)
    </div>
    <input type="submit" value="Submit"/>
}
<hr/>
<script type="text/javascript">

    $(document).ready(function () {
        $('.context').submit(function () {
            $.ajax({
                dataType: 'html',
                url: this.action,
                type: 'POST',
                data: $(this).serialize(),
                context: this,
                cache: false
            }).done(function (data) {
                $('.loadHere', this).html(data);
            });
            return false;
        });
    });
</script>