<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>    
    <section name="Mockup" type="MockUp.Config.Mockup, MockUp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null "/>
  </configSections>

  <Mockup 
    XMLFolder="E:\FluxWorkBenchFiles\XML"
    RawDataFolder="D:\Musik\Musik - Die geordnet werden muss" 
    OutActive="true">    
  </Mockup>
</configuration>