<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="VirtualFileAccessor" type="DataAccess.Base.Config.VirtualFileAccessorSectionGroup, DataAccess.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null">
      <section name="General" type="DataAccess.Base.Config.GeneralSection, DataAccess.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="Debug"   type="DataAccess.Base.Config.DebugSection,   DataAccess.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <section name="Sources" type="DataAccess.Base.Config.SourcesSection,DataAccess.Base, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sectionGroup>
  </configSections>
    
  <VirtualFileAccessor>
    <General Active="XMLSource" ></General>
    <Debug RootNames="Amduscia," SubRootPos="0,1,2" />
    <Sources>
      <XML>
        <XMLSource Name="XMLSource" XMLFolder="E:\Develop\FLUX\DATA\XMLSourceProviderSource"></XMLSource>
      </XML>
      <Directory Root="E:\FluxWorkBenchFiles">
        <Folder Name="Normal" SubFolder="Working" />
        <Folder Name="MOQ"    SubFolder="MOQ" />
      </Directory>
    </Sources>
  </VirtualFileAccessor>

</configuration>
